@charset "UTF-8";

/*
======================================================
  CUSTOM STYLES
======================================================
*/

/* Common */
a {
    color: #fe5e3a;
}
* {
    font-family: 'Roboto', sans-serif;
}
p {
    font-weight: 400;
}
.ripple{
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    overflow: hidden;
    -webkit-transform: translateZ(0); 
    transform: translateZ(0);
    border-radius: inherit; 
    pointer-events: none;
}
.rippleWave{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    background: rgba(0, 0, 0, .5);
    opacity: 0.45;
    animation: ripple 2.4s;
    -webkit-animation: ripple 2.4s forwards;
}
@keyframes ripple {
    to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes ripple {
    to {-webkit-transform: scale(24); opacity:0;}
}
.modal .modal-dialog {
    -webkit-transform: scale(0.8) !important;
    -ms-transform: scale(0.8) !important;
    transform: scale(0.8) !important;
}
.modal.in .modal-dialog {
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}
.main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../img/wall_one.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.cb-slideshow li {
    list-style-type: none;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/wall_one.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/wall_two.jpg);
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/wall_three.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../img/wall_four.jpg);
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../img/wall_five.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../img/wall_six.jpg);
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s; 
}
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
.trans {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-stransition: all .3s ease-in-out;
}
.shadow {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14); 
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

/* Home */
nav .logo a img {
    width: 170px; 
    height: 50px;
}
.nav-overlay {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 70px;
    background: rgba(0, 0, 0, .4);
    border:none !important;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
}
.primary-navigation {
    list-style-type: none;
    float:right;
}
.primary-navigation li {
    margin: 0 10px;
}
.primary-navigation li a {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 5px;
}
.primary-navigation li:last-child button {
    padding: 7px 25px;
    border-radius: 2px;
    color: #fff !important;
    background-color: #fe5e3a !important;
    text-transform: uppercase;
    border: none;
}
.primary-navigation li:last-child button:hover {
    color: #fff !important;
}
.primary-navigation li a:hover {
    color: #72bf44 !important;
}
.footer.invert-colors {
    position: fixed;
    color: #888888;
    bottom: 0;
    width: 100%;
    color: #888888;
    background: rgba(0, 0, 0, .85);
    padding: 10px 0;
}
footer ul {
    padding-top: 3px;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}
footer ul li {
    font-size: 12px;
    display: inline-block;
}
footer ul.footer-nav li:first-child {
    margin-right: 30px;
    font-weight: 500;
}
footer ul.footer-nav li a {
    color: #888888;
    text-decoration: none;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}
footer ul.footer-nav li a:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 1px;
    right: -7px;
    top: 3px;
    background-color: #888888;
}
footer ul.footer-nav li:last-child a:after {
    display: none;
}
footer ul.footer-nav li a:hover,
footer .social-icons li a:hover {
    color: #ccc;
}
footer .social-icons {
    text-align: right;
}
footer .social-icons li a {
    color: #888888;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
}
.content {
    padding-top: 130px;
}
.content .right .card {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
}
.content .right .card h5 {
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px;
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .right .card h3 {
    color: #fff;
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px;
}
.content .right .card input {
    padding: 10px 15px 11px 15px;
    font-size: 14px;
    height: 40px;
    line-height: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #444;
    border: 1px solid #ddd;
}
.content .right .card button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #fe5e3a;
}
.content .right .card .text-or {
    color: #ccc;
}
.content .right .card .text-policy {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 0;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}
.content .right .card .text-policy a:hover {
    color: #fff;
}
.social-login .button-facebook {
    color: #ffffff;
    background-color: #4267b2;
    margin-right: 2px;
}
.social-login .button-google {
    color: #ffffff;
    background-color: #db4437;
}
.social-login .button {
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    display: inline-block;
    width: 48%;
    text-align: center;
    text-decoration: none;
}
.social-login {
    margin: 15px 0;
}
.content .left h1 {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 300;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .left h2 {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin: 0 0 25px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6); 
}
.content .left h2.quo {
    margin-bottom: 0;
    font-size: 24px
}
.content .left h2 span {
    font-size: 20px;
    font-weight: 500;
}
#home-register label {
    font-size: 11px;
    font-weight: 500;
    margin: 5px 0 5px;
    display: inline-block;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 2px 5px;
    float: right;
    border-radius: 2px;
}
#home-register input.error {
    border: 1px solid #ad0000;
    outline: none;
}
#home-register .form-group {
    position: relative;
}
#loader {
    position: absolute;
    top: 9px;
    right: 90px;
    z-index: 11;
    display: none;
    width: 18px;
}
#home-register ::-webkit-input-placeholder {
    color: #444;
}
#home-register ::-moz-placeholder {
    color: #444;
}
#home-register :-ms-input-placeholder {
    color: #444;
}
#home-register :-moz-placeholder {
    color: #444;
}
#home-register .alert {
    margin: 15px 0 0;
    padding: 10px;
    display: none;
}
.content .right .card .validation-email h3 {
    margin-bottom: 20px;
}
.content .right .card .validation-email p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
}
.content .right .card .validation-email p span {
    text-decoration: underline;
}
.content .right .card .validation-email a {
    font-size: 14px;
    color: #fe5e3a !important;
}
.content .right .card .validation-email .resend {
    margin-top: 20px;
}
.content .right .card .validation-email .resend p {
    font-size: 12px;
    line-height: 22px;
}
#wa-nav input {
    padding: 8px 10px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    display: block;
    border-radius: 2px;
    color: #444;
    border: 1px solid #ddd;
}
.know-more {
    padding: 7px 25px;
    border-radius: 2px;
    color: #fff !important;
    background-color: #fe5e3a !important;
    text-transform: uppercase;
    border: none;
    margin: 5px 0;
    display: inline-block;
}
.know-more:hover {
    text-decoration: none;
}
.mob-login-btn {
    padding: 10px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    color: rgb(255, 255, 255) !important;
    background-color: #fe5e3a !important;
    position: absolute;
    top:15px;
    text-decoration: none !important;
    display: none;
    right: 0;
    top: 4px;
}
.mob-reg-btn {
    right: 120px !important;
}
#login-header-form {
    position: relative;
}
#login-header-form label.error {
    display: none !important;
}
#login-header-form input.error {
    border: 1px solid #ad0000;
}
#login-header-form .alert {
    position: absolute;
    top: 55px;
    right: 9px;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    display: none;
}
#login-header-form #loader {
    right: -30px;
    width: 18px;
}
.primary-navigation {
    position: relative;
}
.primary-navigation li.first {
    position: absolute;
    top: 26px;
    right: 104px;
}
.primary-navigation li a {
    display: inline-block
}
#login-header-form .forgot_pass {
    font-size: 10px;
    text-decoration: none;
    color: #fe5e3a !important;
    font-weight: 800;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .left blockquote {
    border-left: none;
    padding: 0 0 10px;
}
.content .left blockquote p {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .left blockquote p i {
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -15px;
}
.content .left blockquote p i.left {
    left: -6px;
}
.content .left blockquote footer {
    text-align: right;
    color: #fff;
    font-size: 16px;
    margin-top: 8px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .left .box {
    padding: 0 25px;
}
.content .left .box .text {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: justify;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.content .left .box .text span {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

/* Login */
.login-block {
    text-align: center;
}
.login-block .logo img {
    width: 160px;
    height: 50px;
    margin-bottom: 25px;
}
.login-block .card {
    padding: 25px 25px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}
.login-block .card h3 {
    margin: 0 0 25px;
    color: #fff;
    font-weight: 600;
}
.login-block .card input {
    padding: 10px 15px 11px 15px;
    font-size: 14px;
    height: 40px;
    line-height: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #444;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}
.login-block .card label {
    position: relative;
    padding-left: 20px;
}
.login-block .inline-middle input[type='checkbox'] {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 2px;
    margin: 0;
}
.login-block .inline-middle .col {
    padding: 0;
}
.login-block .inline-middle .col.left {
    text-align: left;
}
.login-block .inline-middle .col.right {
    text-align: right;
}
.login-block .card label span {
    font-weight: 400;
    color: #fff;
}
.login-block .inline-middle {
    margin-top: 15px;
}
.login-block .card button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #fe5e3a;
    margin: 12px 0 25px;
}
.login-block .card .form-group {
    position: relative;
}
.login-block .card .form-group #loader {
    right: 100px;
}
.login-block .card p a {
    color: #fe5e3a !important;
}
.login-block .card p {
    margin-bottom: 0;
    color: #fff;
}
.login-block .or {
    color: #eeeeef;
    font-weight: 600;
    font-size: 16px;
    margin: 15px 0;
}
.login-block p.copy {
    color: #eeeeef;
    margin-top: 10px;
}
.login-block .alert {
    margin: 15px 0 -10px;
    padding: 10px;
    display: none;
}
.login-block .alert a {
    color: #a94442 !important;
    cursor: pointer;
}
.login-block label.error {
    display: block;
    margin: -10px 0 5px;
    font-size: 12px;
    padding: 0;
    text-align: left;
    font-weight: 500;
    color: #ad0000;
}
.login-block .card input.error {
    border: 1px solid #ad0000;
    outline: none;
}
#reset_pass .modal-content {
    border-radius: 0;
}
#reset_pass .modal-header h4 {
    font-size: 16px;
    color: #444;
}
#reset_pass .modal-footer {
    border: none;
    padding-top: 0;
}
#reset_pass .alert {
    margin: 0 15px 15px;
    padding: 10px;
    display: none;
}
#reset_pass .modal-footer .btn {
    border-radius: 2px;
}
#reset_pass .modal-footer .btn.submit {
    background-color: #fe5e3a;
    color: #fff;
}
#reset_pass label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #777;
}
#reset_pass label.error {
    display: none !important;
}
#reset_pass input {
    padding: 10px 15px 11px 15px;
    font-size: 14px;
    height: 40px;
    line-height: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    color: #444;
    margin: 10px 0 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
#reset_pass input.error {
    border: 1px solid #ad0000;
    outline: none;
}
#reset_pass #img-loader {
    margin-right: 5px;
    display: none;
    width: 18px;
}
#reset_pass .modal-header {
    border: none;
    padding-bottom: 0;
}

/* About */
.about {
    padding-bottom: 80px;
}
.about h2 {
    margin: 0px 0 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    color: #fe5e3a;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.about p {
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 400;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.about h2.vision {
    margin-top: 35px;
}
.about .left .mission {
    margin-top: 120px;
}
.about h4 {
    color: #fff;
    margin-top: 15px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #525252;
}
.about h5 {
    font-size: 16px;
    color: #afafaf;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
.about a {
    font-weight: 500;
    color: #fe5e3a !important;
}
.about .wi-list p {
    text-align: center;
}
.about ul li {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
}
.about ul {
    padding-left: 15px;
}

/* Contact */
#contact .modal-content {
    border-radius: 0;
}
#contact .modal-header {
    border-bottom: none;
}
#contact .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}
#contact input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 40px;
    box-shadow: none;
}
#contact textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 120px;
    resize: none;
    box-shadow: none;
}
#contact .modal-footer button {
    padding: 7px 20px;
    border-radius: 2px;
    border: none;
    background-color: #ddd;
}
#contact .modal-footer .submit {
    background-color: #fe5e3a;
}
#contact label.error {
    display: none !important;
}
#contact input.error,
#contact textarea.error {
    border: 1px solid #ad0000;
}
#contact .alert {
    margin: 0 15px 15px;
    font-size: 14px;
    display: none;
}
#contact #img-loader {
    margin-right: 5px;
    display: none;
}
#contact .modal-footer {
    padding-top: 0;
    border-top: none;
}
#contact p {
    color: #777;
    margin-bottom: 15px;
}
.content-div {
    margin-top: 80px;    
    padding: 20px;
}
.content-div .bg_color {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.75);
}
#contact .address {
    padding: 0;
    margin-bottom: 20px;
    margin-top: -10px;
}
#contact .address h4 {
    margin: 0 0 10px;
}
#contact .address p {
    color: #444;
    margin-bottom: 10px;
}

/* 404 - page */
.page404 {
    background-color: #E9E9EB;
    min-height: 100vh;
    text-align: center
}
.page404 h1 {
    margin-bottom: 20px;
}
.page404 img{
    margin-left: auto;
    margin-right: auto;
    width:300px;
}
.page404 span {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 600;
}
.page404 span a {
    color: #fe5e3a !important;
}
.wa-list-left {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.wa-list-left, .wa-list-right {
    padding: 15px 0 0 10px;
    margin-top: 20px;
    text-align: left;
}
.wa-list-left p, .wa-list-right p {
    text-align: left;
}
.about h2 {
    position: relative;
}
.about h2 span {
    position: absolute;
    right: 15px;
    top: 1px;
    font-size: 30px;
}
.wa-list-left a, .wa-list-right a {
    text-decoration: none;
}
.pm-member {
    margin-top: 30px;
    text-align: center;
}
.pm-member a {
    padding: 10px 25px;
    margin: 0 30px 15px;
    border-radius: 2px;
    color: #fff !important;
    background-color: #fe5e3a;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 250px;
}

/* Offer */
#offer_home .modal-body {
    padding: 0;
    position: relative;
}
#offer_home .modal-body img {
    width: 100%;
}
#offer_home .modal-body .close {
    position: absolute;
    font-size: 22px;
    right: -12px;
    top: -12px;
    background-color: #a6d8cf;
    width: 30px;
    border-radius: 100%;
    opacity: 1;
    color: #fff;
    font-weight: 400;
    height: 30px;
}

/* Mailer Template */
.mailer_template {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mailer_template h1.header {
    margin-top: 0;
    margin-bottom: 25px;
}
.mailer_template .logo {
    display: block;
    margin: 0 auto 15px;
    width: 125px;
}
.mailer_template input {
    height: 45px;
    border: 1px solid #ddd;
}
.mailer_template textarea {
    resize: none;
}
.mailer_template form {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 25px;
}
.mailer_template .alert {
    padding: 10px;
    font-weight: 500;
    margin: 15px 0 0;
}
.mailer_template table {
    width: 100%;
}
.mailer_template select {
    height: 45px;
}
.mailer_template h3 {
    color: #444;
    line-height: 38px;
}
.mailer_template .login {
    display: block;
    width: 150px;
    padding: 10px 0;
    border-radius: 2px;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
    color: #fff;
    text-decoration: none;
    background-color: #fe5e3a;
}

/******************************
Select2
******************************/
.select2-container{outline:0;position:relative;display:inline-block;text-align:left;width: 100% !important}
.select2-selection--single{cursor:pointer;display:block;height:36px;padding:7px 0;line-height:1.5384616;position:relative;border:1px solid transparent;white-space:nowrap;border-radius:3px;user-select:none}
.select2-container--open .select2-selection--single,.select2-selection--single:focus,.select2-selection--single:hover{-webkit-box-shadow:0 0 0 100px rgba(0,0,0,.01) inset;box-shadow:0 0 0 100px rgba(0,0,0,.01) inset}
.select2-selection--single:not([class*=bg-]){background-color:#fff;color:#333}
.select2-selection--single:not([class*=bg-]):not([class*=border-]){border-color:#ddd}
.select2-container--open .select2-selection--single[class*=bg-],.select2-selection--single[class*=bg-]:focus,.select2-selection--single[class*=bg-]:hover{-webkit-box-shadow:0 0 0 100px rgba(0,0,0,.025) inset;box-shadow:0 0 0 100px rgba(0,0,0,.025) inset}
.select2-selection--single[class*=bg-] .select2-selection__placeholder{color:#fff}
.select2-container--disabled .select2-selection--single[class*=bg-] .select2-selection__placeholder{color:rgba(255,255,255,.75)}
.select2-selection--single .select2-selection__rendered{display:block;padding-left:12px;padding-right:31px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.select2-selection--single .select2-selection__rendered>i{margin-right:10px}
.select2-selection--single .select2-selection__clear{position:relative;cursor:pointer;float:right;font-size:0;line-height:1;margin-top:2px;margin-left:5px;opacity:.75;filter:alpha(opacity=75)}
.select2-selection--single .select2-selection__clear:hover{opacity:1;filter:alpha(opacity=100)}
.select2-selection--single .select2-selection__clear:after{content:'\ed6b';font-family:icomoon;display:inline-block;font-size:16px}
.select2-selection--single .select2-selection__placeholder{color:#444}
.select2-selection--single .select2-selection__arrow:after{content:'\e9c5';font-family:Icomoon;display:inline-block;position:absolute;top:50%;right:12px;margin-top:-8px;font-size:16px;line-height:1;color:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.bs-searchbox:after,.select2-search--dropdown:after,.selectboxit-default-arrow:after,.validation-error-label:before,.validation-valid-label:before{font-family:icomoon;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.select2-container--disabled .select2-selection--single .select2-selection__clear,.select2-selection--single .select2-selection__arrow b{display:none}
.select2-container--open .select2-selection--single .select2-selection__arrow:after{content:'\e9c6'}
.select2-container--disabled .select2-selection--single{cursor:not-allowed;-webkit-box-shadow:none;box-shadow:none}
.select2-container--disabled .select2-selection--single:not([class*=bg-]){background-color:#fafafa;color:#999}
.select2-container--disabled .select2-selection--single[class*=bg-]{-webkit-box-shadow:0 0 0 100px rgba(255,255,255,.25) inset;box-shadow:0 0 0 100px rgba(255,255,255,.25) inset}
.select2-selection--multiple{display:block;border:1px solid transparent;border-radius:3px;cursor:text;user-select:none}
.picker,.select2-results__option,.selectboxit-container *{-moz-user-select:none;-ms-user-select:none}
.select2-selection--multiple:not([class*=bg-]){background-color:#fff}
.select2-selection--multiple:not([class*=bg-]):not([class*=border-]){border-color:#ddd}
.select2-selection--multiple .select2-selection__rendered{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;list-style:none;margin:0;padding:0 2px 2px;width:100%}
.select2-selection--multiple .select2-selection__placeholder{color:#999}
.select2-container--disabled .select2-selection--multiple:not([class*=bg-]){background-color:#fafafa;color:#999}
.select2-container--disabled .select2-selection--multiple[class*=bg-]{-webkit-box-shadow:0 0 0 100px rgba(255,255,255,.25) inset;box-shadow:0 0 0 100px rgba(255,255,255,.25) inset}
.select2-container--disabled .select2-selection--multiple[class*=bg-] .select2-selection__choice{opacity:.9;filter:alpha(opacity=90)}
.select2-container--disabled .select2-selection--multiple,.select2-container--disabled .select2-selection--multiple .select2-search__field,.select2-container--disabled .select2-selection--multiple .select2-selection__choice{cursor:not-allowed}
.select2-selection--multiple .select2-selection__choice{background-color:#4DD0E1;color:#fff;border-radius:3px;cursor:default;float:left;margin-right:2px;margin-top:2px;padding:7px 12px}
.select2-selection--multiple .select2-selection__choice>i{margin-right:10px}
.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{cursor:pointer;float:right;font-size:14px;margin-top:3px;line-height:1;margin-left:7px;opacity:.75;filter:alpha(opacity=75)}
.select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover{opacity:1;filter:alpha(opacity=100)}
.select2-container--disabled .select2-selection--multiple .select2-selection__choice,.select2-search--dropdown:after{opacity:.6;filter:alpha(opacity=60)}
.select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove{display:none}
.select2-selection--multiple .select2-search--inline{float:left}
.select2-selection--multiple .select2-search--inline .select2-search__field{font-size:100%;margin-top:2px;padding:7px 0;background-color:transparent;border:0;outline:0;margin-left:7px;-webkit-appearance:textfield}
.select2-selection--multiple .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
.select2-dropdown{background-color:#fff;color:#333;border:1px solid #ddd;border-radius:3px;display:block;position:absolute;left:-100000px;width:100%;z-index:9999;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.1);box-shadow:0 1px 3px rgba(0,0,0,.1)}
.select2-container--open .select2-dropdown--below,.select2-container--open.select2-container--above .select2-selection--multiple,.select2-container--open.select2-container--above .select2-selection--single{border-top-left-radius:0;border-top-right-radius:0}
.select2-container--open .select2-dropdown--above,.select2-container--open.select2-container--below .select2-selection--multiple,.select2-container--open.select2-container--below .select2-selection--single{border-bottom-right-radius:0;border-bottom-left-radius:0}
.select2-results{display:block}
.select2-results__options{list-style:none;margin:0;padding:0}
.select2-results>.select2-results__options{padding-bottom:7px;max-height:250px;overflow-y:auto}
.select2-results:first-child>.select2-results__options,.select2-search--hide+.select2-results>.select2-results__options{padding-top:7px}
.select2-results__option{padding:7px 12px;cursor:pointer;-webkit-user-select:none;user-select:none}
.select2-results__option+.select2-results__option{margin-top:1px}
.select2-results__option i{margin-right:10px}
.select2-results__option i.icon-undefined{display:none}
.select2-results__option[role=group]{padding:0}
.select2-results__option.select2-results__option--highlighted{background-color:#f5f5f5}
.select2-results__option[aria-disabled=true]{color:#999;cursor:not-allowed}
.select2-dropdown[class*=bg-] .select2-results__option[aria-disabled=true]{color:rgba(255,255,255,.6)}
.select2-results__option[aria-selected=true]{background-color:#2196F3;color:#fff}
.select2-results__options--nested>.select2-results__option{padding-left:24px;padding-right:24px}
.select2-results__group{display:block;padding:7px 12px;font-size:11px;line-height:1.82;text-transform:uppercase;cursor:default;margin-top:7px;margin-bottom:7px}
.select2-results__option:first-child>.select2-results__group{margin-top:0}
.select2-results__message{color:#999;cursor:default}
.select2-dropdown[class*=bg-] .select2-results__message{color:rgba(255,255,255,.75)}
.select2-results__option.loading-results{padding-top:0}
.select2-results__option.loading-results+.select2-results__option{margin-top:7px}
.select2-results__option--load-more{text-align:center;margin-top:7px;cursor:default}
.select2-container--open .select2-dropdown{left:0}
.select2-container--open .select2-dropdown--above{border-bottom:0}
.select2-container--open .select2-dropdown--above[class*=bg-]{border-bottom:1px solid rgba(255,255,255,.2)}
.select2-container--open .select2-dropdown--below{border-top:none}
.select2-container--open .select2-dropdown--below[class*=bg-]{border-top:1px solid rgba(255,255,255,.2)}
.select2-search--dropdown{display:block;position:relative;padding:12px}
.select2-search--dropdown:after{content:'\e98e';position:absolute;top:50%;left:24px;color:inherit;display:block;font-size:12px;margin-top:-6px;line-height:1}
.select2-search--dropdown+.select2-results .select2-results__message:first-child{padding-top:0}
.select2-search--dropdown .select2-search__field{height:36px;padding:7px 12px 7px 36px;border-radius:3px;border:1px solid #ddd;outline:0;width:100%}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
.select2-search--dropdown.select2-search--hide{display:none}
.select-xlg.select2-selection--single{height:46px;padding:10px 0;font-size:16px}
.select-xlg.select2-selection--single .select2-selection__rendered{padding-left:15px;padding-right:34px}
.select-xlg.select2-selection--single .select2-selection__arrow:after{right:15px}
.select-xlg.select2-selection--multiple .select2-selection__choice{padding:10px 15px;font-size:16px}
.select-xlg.select2-selection--multiple .select2-search--inline .select2-search__field{padding:10px 0;font-size:16px}
.select-lg.select2-selection--single{height:40px;padding:9px 0;font-size:14px}
.select-lg.select2-selection--single .select2-selection__rendered{padding-left:15px;padding-right:34px}
.select-lg.select2-selection--single .select2-selection__arrow:after{right:15px}
.select-lg.select2-selection--multiple .select2-selection__choice{padding:9px 15px;font-size:14px}
.select-lg.select2-selection--multiple .select2-search--inline .select2-search__field{padding:9px 0;font-size:14px}
.select-sm.select2-selection--single{height:34px;padding:6px 0;font-size:12px;line-height:1.6666667}
.select-sm.select2-selection--single .select2-selection__rendered{padding-left:11px;padding-right:26px}
.select-sm.select2-selection--single .select2-selection__arrow:after{right:11px}
.select-sm.select2-selection--multiple .select2-selection__choice{padding:6px 11px;font-size:12px;line-height:1.6666667}
.select-sm.select2-selection--multiple .select2-search--inline .select2-search__field{padding:6px 0}
.select-xs.select2-selection--single{height:32px;padding:5px 0;font-size:12px;line-height:1.6666667}
.select-xs.select2-selection--single .select2-selection__rendered{padding-left:10px;padding-right:24px}
.select-xs.select2-selection--single .select2-selection__arrow:after{right:10px}
.select-xs.select2-selection--multiple{height:31px;}
.select-xs.select2-selection--multiple .select2-selection__choice{padding:2px 10px 3px;font-size:12px;line-height:1.6666667}
.select-xs.select2-selection--multiple .select2-search--inline .select2-search__field{padding:5px 0;font-size:12px;line-height:1.6666667}
.select2-selection--multiple[class*=bg-] .select2-selection__choice{background-color:rgba(0,0,0,.25)}
.select2-dropdown[class*=bg-] .select2-search--dropdown .select2-search__field{background-color:rgba(0,0,0,.2);border-color:transparent;color:#fff}
.select2-dropdown[class*=bg-] .select2-results__option[aria-selected=true]{background-color:rgba(0,0,0,.2)}
.select2-dropdown[class*=bg-] .select2-results__option--highlighted{background-color:rgba(0,0,0,.1)}
.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;z-index:99;background-color:#fff;opacity:0;filter:alpha(opacity=0)}
.select2-hidden-accessible{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:fixed!important;width:1px!important}
.select2-result-repository{padding-top:7px;padding-bottom:7px}
.select2-result-repository__avatar{float:left;width:60px;margin-right:15px}
.select2-result-repository__avatar img{width:100%;height:auto;border-radius:100px}
.select2-result-repository__meta{margin-left:70px}
.select2-result-repository__title{font-weight:500;word-wrap:break-word;margin-bottom:2px}
.select2-result-repository__forks,.select2-result-repository__stargazers,.select2-result-repository__watchers{display:inline-block;font-size:12px}
.select2-result-repository__description{font-size:12px}
.select2-result-repository__forks,.select2-result-repository__stargazers{margin-right:15px}
.select2-selection--single .select2-selection__arrow:after, .select2-selection--single .select2-selection__arrow:after { content: "\f0d7" !important; color: #ccc; font-family: fontAwesome; }
.select2-selection--single { height: 40px; padding: 9px 0px; }
.select2-selection--single .select2-selection__rendered { color: #444; }

/******************************
PNotify notifications
******************************/
body>.ui-pnotify{position:fixed;z-index:100040}
body>.ui-pnotify-modal-overlay{position:fixed;z-index:100039}
.ui-pnotify{top:20px;right:20px;position:absolute;height:auto;z-index:2;border-radius:3px}
.ui-pnotify.alert-rounded>.ui-pnotify-container{border-radius:100px}
.ui-pnotify[class*=bg-]>.ui-pnotify-container{background-color:inherit;border-color:transparent;color:#fff}
.ui-pnotify[class*=alpha-]>.ui-pnotify-container,.ui-pnotify[class*=text-]>.ui-pnotify-container{background-color:inherit;border-color:inherit;color:inherit}
.ui-pnotify.stack-bottom-left,.ui-pnotify.stack-top-left{left:20px;right:auto}
.ui-pnotify.stack-bottom-left,.ui-pnotify.stack-bottom-right{bottom:20px;top:auto}
.ui-pnotify.stack-modal{left:50%;right:auto;margin-left:-150px}
.ui-pnotify.stack-custom-right{top:auto;left:auto;bottom:200px;right:200px}
.ui-pnotify.stack-custom-left{top:200px;left:200px;right:auto;bottom:auto}
.ui-pnotify.stack-custom-top{right:0;left:0;top:0}
.ui-pnotify.stack-custom-bottom{right:0;left:0;bottom:0;top:auto}
.ui-pnotify.ui-pnotify-in{display:block!important}
.ui-pnotify.ui-pnotify-move{-webkit-transition:left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;-o-transition:left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;transition:left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}
.ui-pnotify.ui-pnotify-fade-slow{-webkit-transition:opacity linear .6s;-o-transition:opacity linear .6s;transition:opacity linear .6s;opacity:0;filter:alpha(opacity=0)}
.ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move{-webkit-transition:opacity .6s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;-o-transition:opacity .6s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;transition:opacity .6s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}
.ui-pnotify.ui-pnotify-fade-normal{-webkit-transition:opacity linear .4s;-o-transition:opacity linear .4s;transition:opacity linear .4s;opacity:0;filter:alpha(opacity=0)}
.ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move{-webkit-transition:opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;-o-transition:opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;transition:opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}
.ui-pnotify.ui-pnotify-fade-fast{-webkit-transition:opacity linear .2s;-o-transition:opacity linear .2s;transition:opacity linear .2s;opacity:0;filter:alpha(opacity=0)}
.ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move{-webkit-transition:opacity .2s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;-o-transition:opacity .2s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;transition:opacity .2s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease}
.ui-pnotify.ui-pnotify-fade-in{opacity:1;filter:alpha(opacity=100)}
.ui-pnotify-container{padding:12px 18px;height:100%;position:relative;left:0;margin:0;border-radius:3px}
.ui-pnotify-container:after{content:" ";visibility:hidden;display:block;height:0;clear:both}
.ui-pnotify-container.ui-pnotify-sharp{border-radius:0}
.ui-pnotify-title{display:block;margin-top:0;margin-bottom:7px;font-size:15px}
.ui-pnotify-text{display:block; font-size: 14px;}
.ui-pnotify-icon{display:block;float:left;line-height:1}
.ui-pnotify-icon>[class^=icon-]{margin-top: 4px;margin-right: 8px;font-size: 16px;}
.ui-pnotify-closer,.ui-pnotify-sticker{float:right;margin-left:8px;margin-top:4px;line-height:1;outline:0}
.ui-pnotify-modal-overlay{background-color:rgba(0,0,0,.5);top:0;left:0;position:absolute;height:100%;width:100%;z-index:1}
.ui-pnotify[class*=bg-]>.brighttheme{background-color:inherit;border-color:inherit;color:inherit}
.brighttheme-notice{background-color:#FFF3E0;border-color:#FF9800}
.brighttheme-info{background-color:#E3F2FD;border-color:#1E88E5}
.brighttheme-success{background-color:#dff0d8;border-color:#dff0d8;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);color: #205823;}
.brighttheme-success h4{color: #205823;}
.brighttheme-error{background-color:#FBE9E7;border-color:#FF5722}
.brighttheme-icon-closer,.brighttheme-icon-sticker{position:relative;display:inline-block;width:10px;height:10px;outline:0;}
.brighttheme-icon-sticker{display: none;}
.brighttheme-icon-closer:after,.brighttheme-icon-sticker:after{font-family:FontAwesome;font-size:10px;display:block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.brighttheme-icon-closer:after{content:"\f00d";font-size: 16px;}
.brighttheme-icon-sticker:after{content:"\ee70"}
.brighttheme-icon-sticker.brighttheme-icon-stuck:after{content:"\ee75"}
.ui-pnotify[class*=alert-styled-]{border-width:0;padding:0}
.ui-pnotify.alert-styled-left .brighttheme{border-left-width:44px}
.ui-pnotify.alert-styled-left:after{left:0}
.ui-pnotify.alert-styled-right .brighttheme{border-right-width:44px}
.ui-pnotify.alert-styled-right:after{right:0}
.brighttheme .ui-pnotify-action-bar{padding-top:15px}
.brighttheme .ui-pnotify-action-bar input,.brighttheme .ui-pnotify-action-bar textarea{display:block;width:100%;border:1px solid #ddd;background-color:#fff;margin-bottom:15px!important;color:#333;padding:7px 12px}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input::-moz-placeholder,.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-moz-placeholder{color:#fff;opacity:1}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input:-ms-input-placeholder,.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea:-ms-input-placeholder{color:#fff}
.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar input::-webkit-input-placeholder,.ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-webkit-input-placeholder{color:#fff}
.ui-pnotify-history-container{position:absolute;top:0;right:20px;width:70px;border-top:none;padding:0;z-index:10000;border-top-right-radius:0;border-top-left-radius:0}
.ui-pnotify-history-container.ui-pnotify-history-fixed{position:fixed}
.ui-pnotify-history-container .ui-pnotify-history-header{padding:2px;text-align:center}
.ui-pnotify-history-container button{cursor:pointer;display:block;width:100%}
.ui-pnotify-history-container .ui-pnotify-history-pulldown{display:block;margin:0 auto}
@media (max-width:480px){
	.ui-pnotify-mobile-able.ui-pnotify{position:fixed;top:0;right:0;left:0;width:auto!important;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-ms-font-smoothing:antialiased;font-smoothing:antialiased}
	.ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow{border-bottom-width:5px;-webkit-box-shadow:none;box-shadow:none}
	.ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left,.ui-pnotify-mobile-able.ui-pnotify.stack-top-left{left:0;right:0}
	.ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left,.ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right{left:0;right:0;bottom:0;top:auto}
	.ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left .ui-pnotify-shadow,.ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right .ui-pnotify-shadow{border-top-width:5px;border-bottom-width:1px}
	.ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-fade{opacity:.2;filter:alpha(opacity=20)}
	.ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-hide{display:none!important}
	.ui-pnotify-mobile-able .ui-pnotify-container{border-radius:0}
}
.ui-pnotify-title, .ui-pnotify-text { color: #ad0000; }
.ui-pnotify .brighttheme-success .ui-pnotify-text { color: #3c763d; }
.ui-pnotify {-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14); box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14); }

@media (max-width: 1199px) {
    .content .right .card h3 {
        font-size: 20px;
    }
    .about h4 {
        margin-top: 25px;
    }
    .content .left .box .text {
        text-align: justify;
        margin-bottom: 20px;
    }
    .content .left h2.quo {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .content .left h2 {
        text-align: center;
    }
    .content .right .card {
        width: 350px;
        margin: 30px auto 0;
    }
    .content .right {
        margin-bottom: 50px;
    }
    #wa-nav{
        display: none;
    }
    .mob-login-btn {
        display: block;
    }
    footer ul.footer-nav li:first-child {
        margin-right: 20px;
    }
    .content {
        padding-top: 100px;
    }
    .page404 img {
        width: 50%;
    }
    .wa-list-left, .wa-list-right {
        margin: 0;
        width: 50%;
        padding: 10px 20px 0;
    }
    .wa-list-left p, .wa-list-right p {
        text-align: center;
    }
    .content .left .box {
        padding: 0;
    }
    .navbar .container-fluid {
        position: relative;
    }
    .content .left blockquote footer {
        text-align: center;
    }
    .content .left blockquote {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .content {
        padding-top: 80px;
    }
    .nav-overlay {
        padding: 10px 0px;
    }
    .mob-login-btn {
        display: block;
        right: 20px;
        top: 0;
    }
    .footer.invert-colors {
        position: relative;
        background: rgb(0, 0, 0);
        text-align: center;
    }
    footer ul.footer-nav li:first-child {
        margin-right: 10px;
        font-weight: 500;
    }
    footer .social-icons {
        margin-top: 8px;
    }
    .main-container {
        min-height: 100%;
    }
    footer .social-icons {
        text-align: center;
        margin-top: 13px;
    }
    .about h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about h2.vision,
    .about h2.mission {
        margin-top: 20px;
    }
    .content .left h2 {
        margin-bottom: 20px;
    }
    .about p,
    .about ul li {
        font-size: 14px;
        line-height: 26px;
    }
    .login-block .card .form-group #loader {
        right: 90px;
    }
    #home-register #loader {
        right: 80px;
    }
    .page404 h1 {
        font-size: 26px;
        line-height: 34px;
    }
    nav .logo a img {
        width: 150px;
        height: 45px;
    }
    .about {
        padding-bottom: 20px;
    }
    .wa-list-left, .wa-list-right {
        width: 100%;
    }
    .wa-list-left {
        border-right: none;
    }
    .pm-member a {
        padding: 8px 20px;
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }
    .content .left .box .text,
    .content .left h1 {
        font-size: 14px;
        line-height: 27px;
        margin-bottom: 8px;
    }
    .content .left .box .text span {
        font-size: 18px;
    }
    .content .left blockquote {
        margin-bottom: 10px;
    }
    .about iframe {
        margin-top: 15px !important;
    }
}

@media (max-width: 470px) {
    .content .right .card {
        width: 90%;
    }
    footer ul.footer-nav li:first-child {
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    .login-block {
        width: 100%;
    }
    .mob-login-btn {
        padding: 8px 20px;
        padding: 8px 15px;
        font-size: 13px;
        top: 5px;
    }
    .mob-reg-btn {
        right: 93px !important;
    }
}

@media (max-width: 420px) {
    #home-register #loader {
        right: 10px;
    }
}
